# Dependencies
node_modules/

# Build
dist/
src-tauri/target/

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Tauri debug
src-tauri/target/debug/
src-tauri/WixTools/
